<h1>
  List of all habits
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new habit
    </h2>
  </header>

  <form action="/insert_habit" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <button type="submit">
      Create habit
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_habits.each do |a_habit| %>
      <li>
        <a href="/habits/<%= a_habit.id %>">
          Habit #<%= a_habit.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
