<h1>
  Habit Tracker
</h1>

<article>
  <div>
    <a href="/habits">
      Back to habits
    </a>
  </div>

  <div>
    <a href="/delete_habit/<%= @the_habit.id %>">
      Delete habit
    </a>
  </div>
</article>

<hr>

<article>
  <header>
    <h2>
      Update habit
    </h2>
  </header>

  <form action="/modify_habit/<%= @the_habit.id %>" method="post">

    <div>
      <label for="name_box">
        Habit name
      </label>

      <input type="text"
             id="name_box"
             name="query_name"
             value="<%= @the_habit.name %>">
    </div>

    <div>
      <label for="description_box">
        Description (optional)
      </label>

      <input type="text"
             id="description_box"
             name="query_description"
             value="<%= @the_habit.description %>">
    </div>

    <button type="submit">
      Update habit
    </button>

  </form>
</article>
