<h1>
  List of all notes
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new note
    </h2>
  </header>

  <form action="/insert_note" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title">
    </div>

    <div>
      <label for="body_box">
        Body
      </label>

      <input type="text" id="body_box" name="query_body">
    </div>

    <div>
      <label for="day_entry_id_box">
        Day entry
      </label>

      <input type="text" id="day_entry_id_box" name="query_day_entry_id">
    </div>

    <button type="submit">
      Create note
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_notes.each do |a_note| %>
      <li>
        <a href="/notes/<%= a_note.id %>">
          Note #<%= a_note.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
