<h1>Note</h1>

<div style="margin: 10px 0;">
  <a href="/notes">Back to notes</a>
</div>

<p><strong>Date:</strong> <%= @the_note.date %></p>

<hr>

<h2>Edit note</h2>

<%= form_with(model: @the_note, url: "/modify_note/#{@the_note.id}", scope: nil, method: "post") do |form| %>
  <div>
    <%= form.rich_text_area :content %>
  </div>

  <button type="submit">Update note</button>
<% end %>

<div style="margin-top: 10px;">
  <a href="/delete_note/<%= @the_note.id %>">Delete note</a>
</div>
